<%= form_with(model: receipt) do |form| %>
  <% if receipt.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
        <% receipt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :handout_date, style: "display: block" %>
    <%= form.date_field :handout_date %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :resident_id, style: "display: block" %>
    <%= form.text_field :resident_id %>
  </div>

  <div>
    <%= form.label :currency_handout_id, style: "display: block" %>
    <%= form.text_field :currency_handout_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
