<div id="<%= dom_id receipt %>">
  <p>
    <strong>Handout date:</strong>
    <%= receipt.handout_date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= receipt.value %>
  </p>

  <p>
    <strong>Resident:</strong>
    <%= receipt.resident_id %>
  </p>

  <p>
    <strong>Currency handout:</strong>
    <%= receipt.currency_handout_id %>
  </p>

</div>
